﻿@page "/fetchdata"

@using Application.Services.Interfaces
@using Domain.Entities
@inject IQuestionaireService QuestionaireService

<h1>Questions</h1>


@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in questions)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Content
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    IEnumerable<Question> questions;

    protected override async Task OnInitializedAsync()
    {
        questions = QuestionaireService.GetAllQuestions();
    }

}
